[user]
	name = NAME
	email = E@MAIL.com
[core]
	autocrlf = true
	editor = code --wait
[http "ADRESS_TOGIT_IF_NEEDED"]
	proxy = PROXY_ADRESS
[https]
	proxy = PROXY_ADRESS
[push]
	default = simple
[Alias]
	p4 = !/C/Python27/python.exe 'PATH_TO_GIT\\git-core\\git-p4'
	cm = commit
	co = checkout
	me = merge
	st = status
	sw = switch
	get = fetch
	pu = pull
	bd = !git branch -d
	l5 = !git log -n5
	l10 = !git log -n10
	l20 = !git log -n20
	l30 = !git log -n30
	l40 = !git log -n40
	l50 = !git log -n50
	lofu = !git log -10 --pretty=fuller
	lal5 = !git log -n5 --oneline --graph --all
	lal30 = !git log -n30 --oneline --graph --all
	mnf = !git merge --no-ff
	pur = !git push -u origin
	sli = !git stash list
	shw = !git stash show
	sap = !git stash apply
	stat = !git get && git st && git lal5
	up = !git fetch origin && git rebase origin/master
	mast = !git switch master
	recont = !git rebase --continue
	back = !git reset HEAD~1 --soft
	stove = !git reset HEAD~1 --soft && git stash save
	dropone = !git reset HEAD~1 --hard
	unstage = !git rm --cached
[rerere]
	enabled = true
[gui]
	recentrepo = LAST_GIT_REPO
[log]
	date = relative
[format]
	pretty = shortlog
[pretty]
	shortlog = format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,brightblue)%>(12,trunc)%ad %C(auto,green)%<(7,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D
